.color-primary {
  color: var(--color-primary);
}
.color-secondery {
  color: var(--color-secondary);
}
.bg-section {
  background-color: var(--bg-section);
}
.bg-overlay {
  background-color: var(--bg-overlay);
}
