/* Variables */

:root {
  /* Fonts */
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif;

  /* Colors */

  --color-default: #364d59;
  --color-primary: #feb900;
  --color-secondary: #52565e;
  --color-light: #ebebed;
  --bg-section: #f8f9fa;
}

/* Variables End */

/* Globals */
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: var(--color-primary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}
.color-primary {
  color: var(--color-primary);
}
.section-title {
  text-align: center;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    &::before {
      content: "";
      display: inline-block;
      width: 50px;
      height: 3px;
      background-color: var(--color-primary);
      margin: 10px;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 50px;
      height: 3px;
      background-color: var(--color-primary);
      margin: 10px;
    }
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
}

.page-header {
  background-image: url(../img/breadcrumbs-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 30vh;
  display: grid;
  place-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .container {
    color: white;
    z-index: 3;
    display: grid;
    place-items: center;
    h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 30px;
    }
    nav {
      z-index: 3;
      a {
        color: white;
      }
      span.breadcrumb-item.active {
        color: var(--color-primary);
        &::before {
          color: white;
        }
      }
    }
  }
}

/* Scroll to top */
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  text-align: center;
  svg {
    color: var(--color-secondary);
    line-height: 0;
  }
  &:hover {
    background: #ffc732;
    color: #fff;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
/* Globals End */

/* Header */
header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}
/* Header End */

/* Landing */
#landing {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#landing .carousel-item .img {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
#landing .landing-content {
  color: white;
  h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 30px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 80px;
      height: 3px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color-primary);
      margin-top: 15px;
    }
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  a.btn-started {
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid var(--color-primary);
    font-weight: bold;
    transition: 0.3s;
    &:hover {
      background-color: var(--color-primary);
    }
  }
}
/* Landing End */

/* Constructions */
#constructions .card {
  background-color: var(--bg-section);
  svg {
    color: var(--color-primary);
    font-size: 3rem;
  }
}
/* Constructions End */

/* Testimonials */
#testimonials {
  background-color: var(--bg-section);
}
#testimonials .owl-carousel .owl-dot.active span {
  background: var(--color-primary);
}
#testimonials .card {
  svg {
    color: var(--color-primary);
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 20px;
  }
  .rate {
    margin-bottom: 20px;
  }
}
/* Testimonials End */

/* Footer */
footer {
  background-image: url(../img/breadcrumbs-bg.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 20px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .container {
    position: relative;
    z-index: 3;
    .footer-content {
      h2 {
        font-size: 2rem;
        font-weight: bold;
      }
      .contacts a {
        color: #ffffff99;
      }
      .social {
        margin-block: 50px;
        a {
          color: white;
          font-size: 1rem;
          margin: 0 10px;
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
    .footer-nav {
      /* list-style: none; */
      padding: 0;
      li {
        margin: 10px 0;
        a {
          color: #ffffff99;
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
    .footer-copyright {
      border-top: 1px solid #ffffff99;
      padding-top: 20px;
      text-align: center;
    }
  }
}
/* Footer End */

/* ----------------------------About----------------------------- */
.our-team {
  .card {
    background: var(--bg-section);
    text-align: center;
  }
}

/* ----------------------------About End----------------------------- */

/* ----------------------------Services----------------------------- */
#our-services {
  .card {
    .icon-bg {
      width: fit-content;
      background: var(--color-light);
      border-top-left-radius: 50%;
      border-top-right-radius: 5px;
      svg {
        color: var(--color-default);
      }
    }
    h5.card-title {
      padding-bottom: 8px;
      border-bottom: 3px solid var(--color-light);
      display: inline-block;
    }
    &:hover .icon-bg {
      background: var(--color-primary);
    }
    &:hover h5 {
      padding-bottom: 8px;
      border-bottom: 3px solid var(--color-primary);
      display: inline-block;
    }
  }
}
/* ----------------------------Services End----------------------------- */

/* ----------------------------Projects----------------------------- */
#projects {
  .button-group {
    margin-bottom: 10px;
    button {
      border: none;
      background: none;
      font-weight: bold;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
  .filter-group {
    > div {
      margin-bottom: 20px;
      .card {
        &:hover .card-img-top::after {
          background: var(--color-default);
        }
      }
    }
  }
}
/* ----------------------------Projects End----------------------------- */

/* ----------------------------Contact----------------------------- */
#contact {
  background: var(--bg-section);
  .card {
    &:hover svg {
      color: var(--color-primary);
    }
    &:hover p.card-text {
      color: var(--color-primary);
    }
    svg {
      color: var(--color-secondary);
    }
  }
  .contact-form {
    button:hover {
      background-color: var(--color-primary);
    }
  }
}
/* ----------------------------Contact End----------------------------- */
